<a href="https://colab.research.google.com/github/SurajKande/python-pandas/blob/master/data_processing_eda_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Processing                                                                
### Processing the data in simple terms Cleaning the data is important, if not processed the data may cause noise, errors and decrease the accuracy of the model  

some common data isues

*   Inconsistent column names
*   Missing Data
*   Duplicate Data
*   Outliers
*   Need to process the columns
*   Column types can send unexpected data values

##Reshaping data :                                                                
1.   Melt
2.   Pivot

### Using Melt                                            
Melting data is the process of turning columns of your data into rows of data.  
we use pd.melt() function . There are two parameters

*   **id_vars**    : represent the columns of the data you do not want to melt
*   **value_vars** : represent the columns you do wish to melt into rows, by                         default if no value_vars are provided, all columns not set                      in the id_vars will be melted

*   var_name       : to change the name of the variable
*   varlue_name    : to change the name of the value column

In [0]:
# Print the head of dataFrame
print(df.head())

# Melt df
df_melt = pd.melt(df, id_vars='Date')

# Print the head of df_melt
print(df_melt.head())

##Concatenating data

```
syntax:  pd.concat([df1, df2, df3,...dfn], ignore_index, axis)   # df's are differen data frames
```
* **ignore_index** = True is to make sure that the previous indexes are not present and get index accordingly
* **axis**                                                                          
 1. axis = 0  (row concat)(default value)                                
 2. axis = 1  (vertical concat)

In [0]:
#conside 2 data frames df1, df2 
#concatinated dataframe == Cdf
Cdf = pd.concat([df1, df2], ignore_index=True)

##Finding files that match pattern                                             
 practice using the glob module to find all csv files in the workspace.         
 the glob module has a function called glob that takes a pattern and returns a list of the files in the working directory that match that pattern.

In [0]:
# Import necessary modules
import glob
import pandas as pd

# Write the pattern
pattern = '*.csv'

# Save all file matches in a list
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

concatinating means simply putting back the divided data                      
we cannot concat the data if the ordering is not same

##Merging data
similar to joining of the tables in sql                                         
*   one to one 
*   many to one/ one to many
*   many to many                                  
the above merges all use same function but differ based on the dataframes


```
syntax: pd.merge(left = , rigth = , left_on = , right_on = ,on =)
```
left , right is to specify the data frames
left_on => column on which the left dataframe to be merged                          
right_on => column on which the right dataframe to be merged                   
on is used both the column names are same

In [0]:
# Merge the DataFrames: o2o
merged = pd.merge(left = df1 , right = df2, left_on = 'name', right_on = 'site')    #

# Print o2o
print(o2o)

##converting Data Types                                                        
some times we get a wrong type of data to convert them we use two function      


*   pd.astype()
*   pd.to_numeric()

In [0]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

# Print the info of tips
print(tips.info())

In [0]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'], errors='coerce')

# Print the info of tips
print(tips.info())

##String Manipulation using reqular expressions                                                        
-> to make dataset consistent with one another                               
-> we use re library for pattern matching for string manipulation              
```
# syntax:              
   import re
   storing_pattern  = re.compile('<pattern>')        # saving the pattern in variable storing_pattern

   result = patter.match('< required string >')      # matching the pattern with the string and storing the result 

```

In [0]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result2 = prog.match('1123-456-7890')
print(bool(result2))

In [0]:
#we can directly pass the pattern to match as well

pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)


pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)


pattern3 = bool(re.match(pattern='[A-Z]\w*', string='Australia'))
print(pattern3)

When using a regular expression to extract multiple numbers (or multiple pattern matches, to be exact), you can use the re.findall() function.

In [0]:
# Import the regular expression module
import re

# Find the numeric values
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

## Custom functions to clean data                                               
creating our own functions to process the data in a efficient manner

In [0]:
# Define recode_gender()
def recode_gender(gender):
    
    # Return 0 if gender is 'Female'
    if gender == 'Female':
        return 0
    
    # Return 1 if gender is 'Male'    
    elif gender == 'Male':
        return 1
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
df['recode'] = df.sex.apply(recode_gender)

# Print the first five rows of tips
print(df.head())

In [0]:
# Write the lambda function using replace
df['total_dollar_replace'] = df.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
df['total_dollar_re'] = df.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(df.head())