<a href="https://colab.research.google.com/github/SurajKande/python-pandas/blob/master/pandas_dataframe_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# to connect gdrive to colab for importing dataset
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
election_data_frame = pd.read_csv('/content/gdrive/My Drive/datasets/pennsylvania2012_turnout.csv', header=0, index_col='county')

In [5]:
election_data_frame.head()

          state   total      Obama  ...  voters    turnout     margin
county                              ...
Adams        PA   41973  35.482334  ...   61156  68.632677  27.629667
Allegheny    PA  614671  56.640219  ...  924351  66.497575  14.454399
Armstrong    PA   28322  30.696985  ...   42147  67.198140  37.204293
Beaver       PA   80015  46.032619  ...  115157  69.483401   6.605012
Bedford      PA   21444  22.057452  ...   32189  66.619031  54.929118

[5 rows x 8 columns]

In [27]:
election_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     67 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB

In [28]:
election_data_frame.describe()

               total      Obama     Romney        voters    turnout     margin
count      67.000000  67.000000  67.000000  6.700000e+01  67.000000  67.000000
mean    83529.835821  40.777673  57.778871  1.269853e+05  64.228564  23.098439
std    125943.736544  10.887539  10.810693  1.930612e+05   5.197579  14.917905
min      1967.000000  21.096291  14.051451  3.232000e+03  52.569235   0.029069
25%     16386.500000  33.550316  52.544467  2.608200e+04  60.923223  12.849021
50%     33875.000000  39.360513  58.888277  5.497800e+04  64.971835  20.952971
75%     93597.000000  45.796105  65.117987  1.459025e+05  68.214879  33.425459
max    653598.000000  85.224251  77.748861  1.099197e+06  73.498766  71.172800

###Subsetting data frame

In [0]:
#subsetting the dataframe
election_result = election_data_frame[['winner', 'state', 'voters']]

In [0]:
p = election_data_frame.index

In [13]:
print(p)

Index(['Adams', 'Allegheny', 'Armstrong', 'Beaver', 'Bedford', 'Berks',
       'Blair', 'Bradford', 'Bucks', 'Butler', 'Cambria', 'Cameron', 'Carbon',
       'Centre', 'Chester', 'Clarion', 'Clearfield', 'Clinton', 'Columbia',
       'Crawford', 'Cumberland', 'Dauphin', 'Delaware', 'Elk', 'Erie',
       'Fayette', 'Forest', 'Franklin', 'Fulton', 'Greene', 'Huntingdon',
       'Indiana', 'Jefferson', 'Juniata', 'Lackawanna', 'Lancaster',
       'Lawrence', 'Lebanon', 'Lehigh', 'Luzerne', 'Lycoming', 'McKean',
       'Mercer', 'Mifflin', 'Monroe', 'Montgomery', 'Montour', 'Northampton',
       'Northumberland', 'Perry', 'Philadelphia', 'Pike', 'Potter',
       'Schuylkill', 'Snyder', 'Somerset', 'Sullivan', 'Susquehanna', 'Tioga',
       'Union', 'Venango', 'Warren', 'Washington', 'Wayne', 'Westmoreland',
       'Wyoming', 'York'],
      dtype='object', name='county')

In [7]:
election_result.head()

           winner state  voters
county
Adams      Romney    PA   61156
Allegheny   Obama    PA  924351
Armstrong  Romney    PA   42147
Beaver     Romney    PA  115157
Bedford    Romney    PA   32189

In [24]:
#subsetting the dataframe Alternative
rows = ['Philadelphia', 'Centre', 'Fulton']
col = ['winner', 'Obama', 'Romney']
PCL_counties = election_data_frame.loc[rows,col]
PCL_counties.head()

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

###Slicing rows and column of dataframe

In [0]:
# slicing rows using lables
counties_p = election_data_frame.loc['Perry':'Potter']

In [17]:
print(counties_p)

             state   total      Obama  ...   voters    turnout     margin
county                                 ...
Perry           PA   18240  29.769737  ...    27245  66.948064  38.821272
Philadelphia    PA  653598  85.224251  ...  1099197  59.461407  71.172800
Pike            PA   23164  43.904334  ...    41840  55.363289  10.978242
Potter          PA    7205  26.259542  ...    10913  66.022175  45.898681

[4 rows x 8 columns]

In [20]:
# slice rows in reverse order
counties_p_rev = election_data_frame.loc['Potter':'Perry':-1]
print(counties_p_rev)

             state   total      Obama  ...   voters    turnout     margin
county                                 ...
Potter          PA    7205  26.259542  ...    10913  66.022175  45.898681
Pike            PA   23164  43.904334  ...    41840  55.363289  10.978242
Philadelphia    PA  653598  85.224251  ...  1099197  59.461407  71.172800
Perry           PA   18240  29.769737  ...    27245  66.948064  38.821272

[4 rows x 8 columns]

In [21]:
# slicing columns 
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election_data_frame.loc[:,:'Obama']

# Print the output of left_columns.head()
print(left_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452

In [22]:
# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election_data_frame.loc[:,'Obama' : 'winner']

# Print the output of middle_columns.head()
print(middle_columns.head())

               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney

In [23]:
# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election_data_frame.loc[:,'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

###filtering

In [26]:
highturn_out = election_data_frame['turnout'] > 70
highturn_out_data_frame = election_data_frame[highturn_out]
highturn_out_data_frame.head()

         state   total      Obama  ...  voters    turnout     margin
county                             ...
Bucks       PA  319407  49.966970  ...  435606  73.324748   1.165284
Butler      PA   88924  31.920516  ...  122762  72.436096  34.896091
Chester     PA  248295  49.228539  ...  337822  73.498766   0.422079
Forest      PA    2308  38.734835  ...    3232  71.410891  21.100520
Franklin    PA   62802  30.110506  ...   87406  71.850903  38.473297

[5 rows x 8 columns]

In [30]:
#
too_close = election_data_frame['margin'] < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election_data_frame.loc[too_close, 'winner'] = np.nan

# Print the output of election.info()
print(election_data_frame.info())            # we can observer 3 of the entries have cahnged to NaN for 'winner' column

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB
None

### using .map()

In [0]:
red_blue = {'Obama':'red','Romney':'blue'}
election_data_frame['result_color'] = election_data_frame['winner'].map(red_blue)

In [33]:
election_data_frame.head()

          state   total      Obama  ...    turnout     margin  result_color
county                              ...
Adams        PA   41973  35.482334  ...  68.632677  27.629667          blue
Allegheny    PA  614671  56.640219  ...  66.497575  14.454399           red
Armstrong    PA   28322  30.696985  ...  67.198140  37.204293          blue
Beaver       PA   80015  46.032619  ...  69.483401   6.605012          blue
Bedford      PA   21444  22.057452  ...  66.619031  54.929118          blue

[5 rows x 9 columns]

### Using vectorized functions:
using vectorized functions, we can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions called Universal Functions

zscore : z-score is the number of standard deviations by which an observation is above the mean - so if it is negative, it means the observation is below the mean.

In [34]:
# Import zscore from scipy.stats
from scipy.stats import zscore

# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election_data_frame['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election_data_frame['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election_data_frame.head())

<class 'numpy.ndarray'>
          state   total      Obama  ...     margin result_color  turnout_zscore
county                              ...
Adams        PA   41973  35.482334  ...  27.629667         blue        0.853734
Allegheny    PA  614671  56.640219  ...  14.454399          red        0.439846
Armstrong    PA   28322  30.696985  ...  37.204293         blue        0.575650
Beaver       PA   80015  46.032619  ...   6.605012         blue        1.018647
Bedford      PA   21444  22.057452  ...  54.929118         blue        0.463391

[5 rows x 10 columns]