<a href="https://colab.research.google.com/github/SurajKande/python-pandas/blob/master/time_series_case_study_austin_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# to connect gdrive to colab for importing dataset
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

Mounted at /content/gdrive

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
data_frame_2011 = pd.read_csv('/content/gdrive/My Drive/datasets/NOAA_QCLCD_2011_hourly_13904.txt', header=None )

In [0]:
print(data_frame_2011.head())

      0         1    2   3       4  5      6   ... 37  38 39 40 41     42 43
0  13904  20110101   53  12  OVC045     10.00  ...     AA           29.95
1  13904  20110101  153  12  OVC049     10.00  ...     AA           30.02
2  13904  20110101  253  12  OVC060     10.00  ...     AA           30.02
3  13904  20110101  353  12  OVC065     10.00  ...     AA           30.04
4  13904  20110101  453  12  BKN070     10.00  ...     AA           30.04

[5 rows x 44 columns]

In [0]:
#we have column labes as a string (comma seperated string)
column_labels = 'Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,dry_bulb_faren,dry_bulb_farenFlag,dry_bulb_cel,dry_bulb_celFlag,wet_bulb_faren,wet_bulb_farenFlag,wet_bulb_cel,wet_bulb_celFlag,dew_point_faren,dew_point_farenFlag,dew_point_cel,dew_point_celFlag,relative_humidity,relative_humidityFlag,wind_speed,wind_speedFlag,wind_direction,wind_directionFlag,value_for_wind_character,value_for_wind_characterFlag,station_pressure,station_pressureFlag,pressure_tendency,pressure_tendencyFlag,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk'

In [0]:
#converting column_labels string to list 
column_labels_list = column_labels.split(',')
print(column_labels_list)

['Wban', 'date', 'Time', 'StationType', 'sky_condition', 'sky_conditionFlag', 'visibility', 'visibilityFlag', 'wx_and_obst_to_vision', 'wx_and_obst_to_visionFlag', 'dry_bulb_faren', 'dry_bulb_farenFlag', 'dry_bulb_cel', 'dry_bulb_celFlag', 'wet_bulb_faren', 'wet_bulb_farenFlag', 'wet_bulb_cel', 'wet_bulb_celFlag', 'dew_point_faren', 'dew_point_farenFlag', 'dew_point_cel', 'dew_point_celFlag', 'relative_humidity', 'relative_humidityFlag', 'wind_speed', 'wind_speedFlag', 'wind_direction', 'wind_directionFlag', 'value_for_wind_character', 'value_for_wind_characterFlag', 'station_pressure', 'station_pressureFlag', 'pressure_tendency', 'pressure_tendencyFlag', 'presschange', 'presschangeFlag', 'sea_level_pressure', 'sea_level_pressureFlag', 'record_type', 'hourly_precip', 'hourly_precipFlag', 'altimeter', 'altimeterFlag', 'junk']

In [0]:
#assigning the column names to the data frame 
data_frame_2011.columns = column_labels_list

In [0]:
data_frame_2011.head()

    Wban      date  Time  ...  altimeter altimeterFlag junk
0  13904  20110101    53  ...                    29.95
1  13904  20110101   153  ...                    30.02
2  13904  20110101   253  ...                    30.02
3  13904  20110101   353  ...                    30.04
4  13904  20110101   453  ...                    30.04

[5 rows x 44 columns]

In [0]:
data_frame_2011.shape

(10337, 44)

In [0]:
data_frame_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 44 columns):
Wban                            10337 non-null int64
date                            10337 non-null int64
Time                            10337 non-null int64
StationType                     10337 non-null int64
sky_condition                   10337 non-null object
sky_conditionFlag               10337 non-null object
visibility                      10325 non-null object
visibilityFlag                  10337 non-null object
wx_and_obst_to_vision           10337 non-null object
wx_and_obst_to_visionFlag       10337 non-null object
dry_bulb_faren                  10337 non-null object
dry_bulb_farenFlag              10337 non-null object
dry_bulb_cel                    10337 non-null object
dry_bulb_celFlag                10337 non-null object
wet_bulb_faren                  10337 non-null object
wet_bulb_farenFlag              10337 non-null object
wet_bulb_cel                    10337 non-null object
wet_bulb_celFlag                10337 non-null object
dew_point_faren                 10337 non-null object
dew_point_farenFlag             10337 non-null object
dew_point_cel                   10337 non-null object
dew_point_celFlag               10337 non-null object
relative_humidity               10337 non-null object
relative_humidityFlag           10337 non-null object
wind_speed                      10337 non-null object
wind_speedFlag                  10337 non-null object
wind_direction                  10337 non-null object
wind_directionFlag              10337 non-null object
value_for_wind_character        10337 non-null object
value_for_wind_characterFlag    10337 non-null object
station_pressure                10337 non-null object
station_pressureFlag            10337 non-null object
pressure_tendency               10337 non-null object
pressure_tendencyFlag           10337 non-null object
presschange                     10337 non-null object
presschangeFlag                 10337 non-null object
sea_level_pressure              10337 non-null object
sea_level_pressureFlag          10337 non-null object
record_type                     10337 non-null object
hourly_precip                   10337 non-null object
hourly_precipFlag               10337 non-null object
altimeter                       10337 non-null object
altimeterFlag                   10337 non-null object
junk                            10337 non-null object
dtypes: int64(4), object(40)
memory usage: 3.5+ MB

In [0]:
data_frame_2011.dropna(axis=1)   #trying to remove empty columns

        Wban      date  Time  ...  altimeter altimeterFlag junk
0      13904  20110101    53  ...                    29.95
1      13904  20110101   153  ...                    30.02
2      13904  20110101   253  ...                    30.02
3      13904  20110101   353  ...                    30.04
4      13904  20110101   453  ...                    30.04
...      ...       ...   ...  ...        ...           ...  ...
10332  13904  20111231  1953  ...                    30.02
10333  13904  20111231  2053  ...                    30.05
10334  13904  20111231  2153  ...                    30.06
10335  13904  20111231  2253  ...                    30.09
10336  13904  20111231  2353  ...                    30.12

[10337 rows x 43 columns]

In [0]:
data_frame_2011.shape

(10337, 44)

In [0]:
assert data_frame_2011.iloc[1].loc['sky_conditionFlag'] != np.NaN     #checking if the value is empty or not

In [0]:
assert data_frame_2011.iloc[1].loc['StationType'] == np.NaN            #cheching if the value is empty or not

AssertionError: ignored

In [0]:
test_result = data_frame_2011.iloc[1].loc['sky_conditionFlag']
print(test_result)                                                     #printing the value

In [0]:
for value in data_frame_2011[:]:
  if value == ' ':
    value = np.NaN                             #trying to replace the value with NaN

In [0]:
data_frame_2011.head()

    Wban      date  Time  ...  altimeter altimeterFlag junk
0  13904  20110101    53  ...                    29.95
1  13904  20110101   153  ...                    30.02
2  13904  20110101   253  ...                    30.02
3  13904  20110101   353  ...                    30.04
4  13904  20110101   453  ...                    30.04

[5 rows x 44 columns]

In [0]:
assert data_frame_2011.iloc[1].loc['sky_conditionFlag'] != np.NaN

In [0]:
#changing the dataframe to a proper dataset
data_frame_2011 = pd.read_csv('/content/gdrive/My Drive/datasets/weather_data_austin_2011.csv', header=None )

In [0]:
data_frame_2011.shape

(10337, 44)

In [0]:
data_frame_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 44 columns):
0     10337 non-null int64
1     10337 non-null int64
2     10337 non-null int64
3     10337 non-null int64
4     10337 non-null object
5     10337 non-null object
6     10325 non-null object
7     10337 non-null object
8     10337 non-null object
9     10337 non-null object
10    10337 non-null object
11    10337 non-null object
12    10337 non-null object
13    10337 non-null object
14    10337 non-null object
15    10337 non-null object
16    10337 non-null object
17    10337 non-null object
18    10337 non-null object
19    10337 non-null object
20    10337 non-null object
21    10337 non-null object
22    10337 non-null object
23    10337 non-null object
24    10337 non-null object
25    10337 non-null object
26    10337 non-null object
27    10337 non-null object
28    10337 non-null object
29    10337 non-null object
30    10337 non-null object
31    10337 non-null object
32    10337 non-null object
33    10337 non-null object
34    10337 non-null object
35    10337 non-null object
36    10337 non-null object
37    10337 non-null object
38    10337 non-null object
39    10337 non-null object
40    10337 non-null object
41    10337 non-null object
42    10337 non-null object
43    10337 non-null object
dtypes: int64(4), object(40)
memory usage: 3.5+ MB

In [0]:
data_frame_2011.dropna(axis=1)

          0         1     2   3       4  5  7   ... 37  38 39 40 41     42 43
0      13904  20110101    53  12  OVC045        ...     AA           29.95
1      13904  20110101   153  12  OVC049        ...     AA           30.02
2      13904  20110101   253  12  OVC060        ...     AA           30.02
3      13904  20110101   353  12  OVC065        ...     AA           30.04
4      13904  20110101   453  12  BKN070        ...     AA           30.04
...      ...       ...   ...  ..     ... .. ..  ... ..  .. .. .. ..    ... ..
10332  13904  20111231  1953  12     CLR        ...     AA           30.02
10333  13904  20111231  2053  12     CLR        ...     AA           30.05
10334  13904  20111231  2153  12     CLR        ...     AA           30.06
10335  13904  20111231  2253  12     CLR        ...     AA           30.09
10336  13904  20111231  2353  12     CLR        ...     AA           30.12

[10337 rows x 43 columns]

In [0]:
#we have column labes as a string (comma seperated string)
column_labels = 'Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,dry_bulb_faren,dry_bulb_farenFlag,dry_bulb_cel,dry_bulb_celFlag,wet_bulb_faren,wet_bulb_farenFlag,wet_bulb_cel,wet_bulb_celFlag,dew_point_faren,dew_point_farenFlag,dew_point_cel,dew_point_celFlag,relative_humidity,relative_humidityFlag,wind_speed,wind_speedFlag,wind_direction,wind_directionFlag,value_for_wind_character,value_for_wind_characterFlag,station_pressure,station_pressureFlag,pressure_tendency,pressure_tendencyFlag,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk'

In [0]:
#converting column_labels string to list 
column_labels_list = column_labels.split(',')
print(column_labels_list)

['Wban', 'date', 'Time', 'StationType', 'sky_condition', 'sky_conditionFlag', 'visibility', 'visibilityFlag', 'wx_and_obst_to_vision', 'wx_and_obst_to_visionFlag', 'dry_bulb_faren', 'dry_bulb_farenFlag', 'dry_bulb_cel', 'dry_bulb_celFlag', 'wet_bulb_faren', 'wet_bulb_farenFlag', 'wet_bulb_cel', 'wet_bulb_celFlag', 'dew_point_faren', 'dew_point_farenFlag', 'dew_point_cel', 'dew_point_celFlag', 'relative_humidity', 'relative_humidityFlag', 'wind_speed', 'wind_speedFlag', 'wind_direction', 'wind_directionFlag', 'value_for_wind_character', 'value_for_wind_characterFlag', 'station_pressure', 'station_pressureFlag', 'pressure_tendency', 'pressure_tendencyFlag', 'presschange', 'presschangeFlag', 'sea_level_pressure', 'sea_level_pressureFlag', 'record_type', 'hourly_precip', 'hourly_precipFlag', 'altimeter', 'altimeterFlag', 'junk']

In [0]:
#assigning the column names to the data frame 
data_frame_2011.columns = column_labels_list

In [0]:
data_frame_2011.head()

    Wban      date  Time  ...  altimeter altimeterFlag junk
0  13904  20110101    53  ...                    29.95
1  13904  20110101   153  ...                    30.02
2  13904  20110101   253  ...                    30.02
3  13904  20110101   353  ...                    30.04
4  13904  20110101   453  ...                    30.04

[5 rows x 44 columns]

In [0]:
assert data_frame_2011.iloc[1].loc['sky_conditionFlag'] != np.NaN     #checking if the value is empty or not

In [0]:
list_to_drop = ['sky_conditionFlag',
                'visibilityFlag',
                'wx_and_obst_to_vision',
                'wx_and_obst_to_visionFlag',
                'dry_bulb_farenFlag',
                'dry_bulb_celFlag',
                'wet_bulb_farenFlag',
                'wet_bulb_celFlag',
                'dew_point_farenFlag',
                'dew_point_celFlag',
                'relative_humidityFlag',
                'wind_speedFlag',
                'wind_directionFlag',
                'value_for_wind_character',
                'value_for_wind_characterFlag',
                'station_pressureFlag',
                'pressure_tendencyFlag',
                'pressure_tendency',
                'presschange',
                'presschangeFlag',
                'sea_level_pressureFlag',
                'hourly_precip',
                'hourly_precipFlag',
                'altimeter',
                'record_type',
                'altimeterFlag',
                'junk']

In [0]:
data_frame_2011 = data_frame_2011.drop(list_to_drop, axis = 1)

In [0]:
data_frame_2011.head()

    Wban      date  Time  ...  wind_direction station_pressure sea_level_pressure
0  13904  20110101    53  ...             360            29.42              29.95
1  13904  20110101   153  ...             340            29.49              30.01
2  13904  20110101   253  ...             010            29.49              30.01
3  13904  20110101   353  ...             350            29.51              30.03
4  13904  20110101   453  ...             020            29.51              30.04

[5 rows x 17 columns]

In [0]:
print(type(data_frame_2011['date']))

<class 'pandas.core.series.Series'>

In [0]:
data_frame_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 17 columns):
Wban                  10337 non-null int64
date                  10337 non-null int64
Time                  10337 non-null int64
StationType           10337 non-null int64
sky_condition         10337 non-null object
visibility            10325 non-null object
dry_bulb_faren        10337 non-null object
dry_bulb_cel          10337 non-null object
wet_bulb_faren        10337 non-null object
wet_bulb_cel          10337 non-null object
dew_point_faren       10337 non-null object
dew_point_cel         10337 non-null object
relative_humidity     10337 non-null object
wind_speed            10337 non-null object
wind_direction        10337 non-null object
station_pressure      10337 non-null object
sea_level_pressure    10337 non-null object
dtypes: int64(4), object(13)
memory usage: 1.3+ MB

In [0]:
data_frame_2011['date'] = data_frame_2011['date'].astype(str)
data_frame_2011['Time'] = data_frame_2011['Time'].astype(str)

In [0]:
data_frame_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 17 columns):
Wban                  10337 non-null int64
date                  10337 non-null object
Time                  10337 non-null object
StationType           10337 non-null int64
sky_condition         10337 non-null object
visibility            10325 non-null object
dry_bulb_faren        10337 non-null object
dry_bulb_cel          10337 non-null object
wet_bulb_faren        10337 non-null object
wet_bulb_cel          10337 non-null object
dew_point_faren       10337 non-null object
dew_point_cel         10337 non-null object
relative_humidity     10337 non-null object
wind_speed            10337 non-null object
wind_direction        10337 non-null object
station_pressure      10337 non-null object
sea_level_pressure    10337 non-null object
dtypes: int64(2), object(15)
memory usage: 1.3+ MB

In [0]:
data_frame_2011['Time'] = data_frame_2011['Time'].apply(lambda x:'{:0>4}'.format(x))    # formating time into XXXX pattern

In [0]:
dateTime_string = data_frame_2011['date'] + data_frame_2011['Time']

In [0]:
date_time = pd.to_datetime(dateTime_string, format='%Y%m%d%H%M')

In [0]:
print(date_time)

0       2011-01-01 00:53:00
1       2011-01-01 01:53:00
2       2011-01-01 02:53:00
3       2011-01-01 03:53:00
4       2011-01-01 04:53:00
                ...
10332   2011-12-31 19:53:00
10333   2011-12-31 20:53:00
10334   2011-12-31 21:53:00
10335   2011-12-31 22:53:00
10336   2011-12-31 23:53:00
Length: 10337, dtype: datetime64[ns]

In [0]:
data_frame_2011.set_index(date_time, inplace=True, )

In [0]:
data_frame_2011.head()

                      Wban      date  ... station_pressure  sea_level_pressure
2011-01-01 00:53:00  13904  20110101  ...            29.42               29.95
2011-01-01 01:53:00  13904  20110101  ...            29.49               30.01
2011-01-01 02:53:00  13904  20110101  ...            29.49               30.01
2011-01-01 03:53:00  13904  20110101  ...            29.51               30.03
2011-01-01 04:53:00  13904  20110101  ...            29.51               30.04

[5 rows x 17 columns]

In [0]:
data_frame_2011.tail()

                      Wban      date  ... station_pressure  sea_level_pressure
2011-12-31 19:53:00  13904  20111231  ...            29.49               30.03
2011-12-31 20:53:00  13904  20111231  ...            29.52               30.05
2011-12-31 21:53:00  13904  20111231  ...            29.53               30.06
2011-12-31 22:53:00  13904  20111231  ...            29.56               30.09
2011-12-31 23:53:00  13904  20111231  ...            29.59               30.11

[5 rows x 17 columns]